.header {
  background-color: #398ab9;
  border-bottom: 1px solid #e5e5e5;
  padding: 0.5em;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  color: #ffffff;
  border-radius: 50px 50px;
}
html,
body {
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
  font-family: "Arial Black", Gadget, sans-serif;
}
.top-header {
  background-color: #2ca9f7;
}
.menu-item {
  color: #ffffff;
  padding: 15px;
  display: inline-block;
  text-decoration: none;
}

.main-content {
  max-width: 600px;
  margin: auto;
}
.topic {
  padding: 10px 25px;
  font-size: 24px;
  color: white;
  background-color: #39b9b9;
  border-radius: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 15%;
  text-align: center;
}
.img-circle {
  border-radius: 25%;
}
.box {
  background-color: #9fcfdb;
  padding: 25px;
  margin: 30px;
}
.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #004268;
}
.content {
  text-align: center;
  font-size: 18px;
  color: #004268;
}

.image {
  width: 100%;
}

.head-image {
  width: 40%;
  margin-left: 30%;
  border-radius: 25%;
  box-shadow: 10px 10px 10px #3fcfe2;
}

.bottom-footer {
  background-color: rgb(70, 165, 228);
  padding: 5px;
  text-align: center;
}
